<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736464449250-e12gi0ntj39rapa8fahq4jaqsc76uuoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736464449250-e12gi0ntj39rapa8fahq4jaqsc76uuoi</string>
	<key>API_KEY</key>
	<string>AIzaSyCP6uc6ikkGl8NWYL_rP1nUTpk2krJBXG4</string>
	<key>GCM_SENDER_ID</key>
	<string>736464449250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jjong.KnockKnock-iOS</string>
	<key>PROJECT_ID</key>
	<string>knock-knock-46297</string>
	<key>STORAGE_BUCKET</key>
	<string>knock-knock-46297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736464449250:ios:6301f64e56d289a66438bb</string>
</dict>
</plist>