<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KnockKnock-iOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C76AB3E4C62A28300F352855C94FD138C12D794A</string>
				<key>dateExpires</key>
				<string>2023/09/03</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C76AB3E4C62A28300F352855C94FD138C12D794A</string>
						<key>dateExpires</key>
						<string>2023/09/03</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PryntTrimmerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7YWVGV44MR</string>
						<key>name</key>
						<string>Dayea Yoon</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C76AB3E4C62A28300F352855C94FD138C12D794A</string>
						<key>dateExpires</key>
						<string>2023/09/03</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Stevia.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7YWVGV44MR</string>
						<key>name</key>
						<string>Dayea Yoon</string>
					</dict>
					<key>versionNumber</key>
					<string>4.7.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C76AB3E4C62A28300F352855C94FD138C12D794A</string>
						<key>dateExpires</key>
						<string>2023/09/03</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Then.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7YWVGV44MR</string>
						<key>name</key>
						<string>Dayea Yoon</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C76AB3E4C62A28300F352855C94FD138C12D794A</string>
						<key>dateExpires</key>
						<string>2023/09/03</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YPImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7YWVGV44MR</string>
						<key>name</key>
						<string>Dayea Yoon</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7YWVGV44MR.jjong.KnockKnock-iOS</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>7YWVGV44MR</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>KnockKnock-iOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f7f9942c-729a-4766-92df-47e5fbbd1245</string>
				<key>dateExpires</key>
				<string>2024/02/09</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: jjong.KnockKnock-iOS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7YWVGV44MR</string>
				<key>name</key>
				<string>Dayea Yoon</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
